{% extends "auctions/layout.html" %}
{% block body %}
	<h1> Create a New Listing</h1>
		<form action="{% url 'create_listing' %}" method="POST">
			{% csrf_token %}
			<h2>Title</h2>{{ form.title }}
			<h3>Category</h3>{{ form.category }}
			<h3>Image</h3>{{ form.image_url }}
			<h3>Description</h3>{{ form.description }}
			<h3>Starting Price</h3>{{ form.price }}
			<div>
				<input type='submit' value="Post">
			</div>
		</form>
			<!-- {{ form.description }} -->
			<!-- {{ form.category }} -->
			<!-- {{ form.price }} -->

{% endblock %}